[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/home/hisisdk/histb_v2/autelan/rootfs/php-5.6.7/../../release/var/run/php-fpm.pid
ExecStart=/home/hisisdk/histb_v2/autelan/rootfs/php-5.6.7/../../release/usr/sbin/php-fpm --nodaemonize --fpm-config /home/hisisdk/histb_v2/autelan/rootfs/php-5.6.7/../../release/etc/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target

